In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel(r'C:\Users\min\Desktop\파이널프로젝트_RAW_210329_210926.xlsx')

In [4]:
df.head()

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
0,970634,504760.0,201435.0,ORDER,CANCELLED,올인원 패키지 : 알고리즘 기술면접 완전 정복,프로그래밍,올인원,2021-03-28 15:00:11,90500,NaN,NaN,110500.0,110500.0,NaN,VBANK,개발자 커리어,NaT
1,970650,432862.0,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:16:53,96000,NaN,NaN,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02
2,970657,72297.0,204246.0,PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,[10% 할인] 시크릿코드 실무 완성편,19090.0,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
3,970656,72297.0,204246.0,ORDER,CANCELLED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,NaN,NaN,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
4,970658,478028.0,201797.0,PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,97500,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105419 entries, 0 to 105418
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      105419 non-null  int64
 1   customer_id             105416 non-null  float64
 2   course_id               100212 non-null  float64
 3   type                    105419 non-null  object
 4   state                   105419 non-null  object
 5   course_title            105403 non-null  object
 6   category_title          105395 non-null  object
 7   format                  105403 non-null  object
 8   completed_at            105419 non-null  datetime64[ns]
 9   transaction_amount      105419 non-null  int64
 10  coupon_title            31817 non-null   object
 11  coupon_discount_amount  31817 non-null   float64
 12  sale_price              104291 non-null  float64
 13  tax_free_amount         104291 non-null  float64
 14  pg                      90344 non-null   object
 15  method                  92323 non-null   object
 16  subcategory_title       85590 non-null   object
 17  marketing_start_at      87440 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(2), object(9)
memory usage: 14.5+ MB

In [9]:
df.isnull().sum()

id                            0
customer_id                   3
course_id                  5207
type                          0
state                         0
course_title                 16
category_title               24
format                       16
completed_at                  0
transaction_amount            0
coupon_title              73602
coupon_discount_amount    73602
sale_price                 1128
tax_free_amount            1128
pg                        15075
method                    13096
subcategory_title         19829
marketing_start_at        17979
dtype: int64

# Customer_id 결측치 3개는 제외시켜야 할 것 같음.
 ##

In [23]:
df_sample_1 = df[['type']]
df_sample_1

           type
0         ORDER
1         ORDER
2       PAYMENT
3         ORDER
4       PAYMENT
...         ...
105414  PAYMENT
105415  PAYMENT
105416  PAYMENT
105417  PAYMENT
105418  PAYMENT

[105419 rows x 1 columns]

In [34]:
df[df['type'] == 'ORDER']

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
0,970634,504760.0,201435.0,ORDER,CANCELLED,올인원 패키지 : 알고리즘 기술면접 완전 정복,프로그래밍,올인원,2021-03-28 15:00:11,90500,NaN,NaN,110500.0,110500.0,NaN,VBANK,개발자 커리어,NaT
1,970650,432862.0,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:16:53,96000,NaN,NaN,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02
3,970656,72297.0,204246.0,ORDER,CANCELLED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,NaN,NaN,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
5,970655,478028.0,201797.0,ORDER,CANCELLED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:56,97500,NaN,NaN,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14
6,970614,477910.0,NaN,ORDER,CANCELLED,프로모션 : 2021 내 커리어 지켜 줄 UX/UI 디자인 한끝세트 (3월 프리패스),크리에이티브,올인원,2021-03-28 15:22:36,299000,NaN,NaN,299000.0,299000.0,NaN,CARD,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77380,1232099,392104.0,205949.0,ORDER,COMPLETED,초격차 패키지 : 30개 프로젝트로 배우는 iOS 앱 개발 with Swift,프로그래밍,올인원,2021-07-21 14:14:30,169000,NaN,NaN,169000.0,169000.0,NAVER,NaN,모바일앱,2021-07-09
77383,1232107,136955.0,202785.0,ORDER,COMPLETED,올인원 패키지 : 인스타를 성장시킨 50명의 성공방정식,마케팅,올인원,2021-07-21 14:16:14,82000,NaN,NaN,82000.0,82000.0,NAVER,NaN,SNS마케팅,2021-01-18
77385,1232110,136955.0,202284.0,ORDER,COMPLETED,올인원 패키지 : 검색 최적화(SEO) 운영/전략,마케팅,올인원,2021-07-21 14:17:01,120000,NaN,NaN,120000.0,120000.0,NAVER,NaN,디지털마케팅,2020-02-26
77386,1232108,390199.0,201582.0,ORDER,COMPLETED,올인원 패키지 : 컴퓨터 공학 전공 필수,프로그래밍,올인원,2021-07-21 14:17:19,151500,NaN,NaN,151500.0,151500.0,INICIS,CARD,개발자 커리어,2019-09-30
77387,1232113,438778.0,205625.0,ORDER,COMPLETED,초격차 패키지 : 세상의 모든 감성 아이패드 드로잉,디자인,올인원,2021-07-21 14:17:50,168000,NaN,NaN,168000.0,168000.0,KAKAO,NaN,일러스트,2021-06-29

In [43]:
df[df['type'] == 'PAYMENT']

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
2,970657,72297.0,204246.0,PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,[10% 할인] 시크릿코드 실무 완성편,19090.0,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
4,970658,478028.0,201797.0,PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,97500,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14
8,970669,478033.0,203178.0,PAYMENT,COMPLETED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:26:47,96000,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02
10,970671,469860.0,203644.0,PAYMENT,COMPLETED,올인원 패키지 : 권오상의 금융 아카데미 - 권오상의 재무제표 분석 기초(평생소장),부동산/금융,올인원,2021-03-28 15:27:17,263000,NaN,NaN,263000.0,263000.0,NaN,CARD,NaN,2020-11-27
14,970676,478035.0,203720.0,PAYMENT,COMPLETED,초격차 패키지 : 한 번에 끝내는 프론트엔드 개발,프로그래밍,올인원,2021-03-28 15:31:01,91000,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,111000.0,111000.0,NaN,CARD,프론트엔드 개발,2021-02-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105414,1364995,640697.0,205365.0,PAYMENT,CANCELLED,초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기,영상/3D,올인원,2021-09-25 14:10:42,96000,[WELCOME] 온라인 강의 2만원 할인쿠폰,20000.0,116000.0,116000.0,INICIS,TRANS,영상 편집,2021-06-15
105415,1364998,670896.0,204159.0,PAYMENT,CANCELLED,부동산 디벨로퍼 아카데미 : 인허가,부동산/금융,올인원,2021-09-25 14:16:33,189000,NaN,NaN,189000.0,189000.0,INICIS,CARD,부동산 개발,2021-02-10
105416,1364996,640697.0,205365.0,PAYMENT,COMPLETED,초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기,영상/3D,올인원,2021-09-25 14:17:41,96000,[WELCOME] 온라인 강의 2만원 할인쿠폰,20000.0,116000.0,116000.0,INICIS,VBANK,영상 편집,2021-06-15
105417,1365005,670896.0,204159.0,PAYMENT,CANCELLED,부동산 디벨로퍼 아카데미 : 인허가,부동산/금융,올인원,2021-09-25 14:19:56,189000,NaN,NaN,189000.0,189000.0,INICIS,CARD,부동산 개발,2021-02-10
105418,1365007,610626.0,206720.0,PAYMENT,COMPLETED,용호수의 돈 버는 실전 영상 제작,영상/3D,올인원,2021-09-25 14:25:47,139000,[WELCOME] 온라인 강의 3만원 할인쿠폰,30000.0,169000.0,169000.0,NAVER,POINT,영상 편집,2021-08-17

In [56]:
df_sample_1[df_sample_1 == 'ORDER'].count()

type    40159
dtype: int64

In [57]:
df_sample_1[df_sample_1 == 'PAYMENT'].count()

type    61433
dtype: int64

In [59]:
df_sample_1[df_sample_1 == 'REFUND'].count()

type    3824
dtype: int64

In [63]:
df_sample_1[df_sample_1 == 'TRANSACTION'].count()

type    3
dtype: int64

In [62]:
df_sample_1.isnull().sum()

type    0
dtype: int64

In [58]:
df.duplicated

<bound method DataFrame.duplicated of              id  customer_id  course_id     type      state  \
0        970634     504760.0   201435.0    ORDER  CANCELLED
1        970650     432862.0   203178.0    ORDER  CANCELLED
2        970657      72297.0   204246.0  PAYMENT  COMPLETED
3        970656      72297.0   204246.0    ORDER  CANCELLED
4        970658     478028.0   201797.0  PAYMENT  COMPLETED
...         ...          ...        ...      ...        ...
105414  1364995     640697.0   205365.0  PAYMENT  CANCELLED
105415  1364998     670896.0   204159.0  PAYMENT  CANCELLED
105416  1364996     640697.0   205365.0  PAYMENT  COMPLETED
105417  1365005     670896.0   204159.0  PAYMENT  CANCELLED
105418  1365007     610626.0   206720.0  PAYMENT  COMPLETED

                           course_title category_title  format  \
0             올인원 패키지 : 알고리즘 기술면접 완전 정복          프로그래밍     올인원
1           초격차 패키지 : 한번에 끝내는 영상 촬영과 편집          영상/3D     올인원
2                  시크릿코드 : 프론트엔드 실무 완성편          프로그래밍  스쿨 온라인
3                  시크릿코드 : 프론트엔드 실무 완성편          프로그래밍  스쿨 온라인
4         올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX         업무 생산성     올인원
...                                 ...            ...     ...
105414  초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기          영상/3D     올인원
105415              부동산 디벨로퍼 아카데미 : 인허가         부동산/금융     올인원
105416  초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기          영상/3D     올인원
105417              부동산 디벨로퍼 아카데미 : 인허가         부동산/금융     올인원
105418               용호수의 돈 버는 실전 영상 제작          영상/3D     올인원

              completed_at  transaction_amount               coupon_title  \
0      2021-03-28 15:00:11               90500                        NaN
1      2021-03-28 15:16:53               96000                        NaN
2      2021-03-28 15:21:43              171810      [10% 할인] 시크릿코드 실무 완성편
3      2021-03-28 15:21:43              171810                        NaN
4      2021-03-28 15:21:54               97500   [웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰
...                    ...                 ...                        ...
105414 2021-09-25 14:10:42               96000  [WELCOME] 온라인 강의 2만원 할인쿠폰
105415 2021-09-25 14:16:33              189000                        NaN
105416 2021-09-25 14:17:41               96000  [WELCOME] 온라인 강의 2만원 할인쿠폰
105417 2021-09-25 14:19:56              189000                        NaN
105418 2021-09-25 14:25:47              139000  [WELCOME] 온라인 강의 3만원 할인쿠폰

        coupon_discount_amount  sale_price  tax_free_amount      pg method  \
0                          NaN    110500.0         110500.0     NaN  VBANK
1                          NaN    116000.0         116000.0     NaN   CARD
2                      19090.0    190900.0         190900.0     NaN   CARD
3                          NaN    190900.0         190900.0     NaN   CARD
4                      20000.0    117500.0         117500.0     NaN   CARD
...                        ...         ...              ...     ...    ...
105414                 20000.0    116000.0         116000.0  INICIS  TRANS
105415                     NaN    189000.0         189000.0  INICIS   CARD
105416                 20000.0    116000.0         116000.0  INICIS  VBANK
105417                     NaN    189000.0         189000.0  INICIS   CARD
105418                 30000.0    169000.0         169000.0   NAVER  POINT

       subcategory_title marketing_start_at
0                개발자 커리어                NaT
1                  영상 편집         2020-12-02
2                    NaN         2021-03-04
3                    NaN         2021-03-04
4                PPT/보고서         2019-11-14
...                  ...                ...
105414             영상 편집         2021-06-15
105415            부동산 개발         2021-02-10
105416             영상 편집         2021-06-15
105417            부동산 개발         2021-02-10
105418             영상 편집         2021-08-17

[105419 rows x 18 columns]>

In [64]:
df_sample_2 = df[['state']]
df_sample_2

            state
0       CANCELLED
1       CANCELLED
2       COMPLETED
3       CANCELLED
4       COMPLETED
...           ...
105414  CANCELLED
105415  CANCELLED
105416  COMPLETED
105417  CANCELLED
105418  COMPLETED

[105419 rows x 1 columns]

In [65]:
df_sample_2[df_sample_2 == 'CANCELLED'].count()

state    41279
dtype: int64

In [66]:
df_sample_2[df_sample_2 == 'COMPLETED'].count()

state    62763
dtype: int64

In [67]:
df_sample_2[df_sample_2 == 'PENDING'].count()

state    1144
dtype: int64

In [79]:
df_sample_2[df_sample_2 == 'TRANSCATION'].count()

state    0
dtype: int64

In [73]:
df_sample_3 = df[['state']]
df_sample_3

            state
0       CANCELLED
1       CANCELLED
2       COMPLETED
3       CANCELLED
4       COMPLETED
...           ...
105414  CANCELLED
105415  CANCELLED
105416  COMPLETED
105417  CANCELLED
105418  COMPLETED

[105419 rows x 1 columns]

In [76]:
df_sample_3.drop_duplicates(['state'])

           state
0      CANCELLED
2      COMPLETED
50       PENDING
242      DELETED
13438  REQUESTED

In [77]:
df_sample_4 = df[['course_title']]
df_sample_4

                           course_title
0             올인원 패키지 : 알고리즘 기술면접 완전 정복
1           초격차 패키지 : 한번에 끝내는 영상 촬영과 편집
2                  시크릿코드 : 프론트엔드 실무 완성편
3                  시크릿코드 : 프론트엔드 실무 완성편
4         올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX
...                                 ...
105414  초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기
105415              부동산 디벨로퍼 아카데미 : 인허가
105416  초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기
105417              부동산 디벨로퍼 아카데미 : 인허가
105418               용호수의 돈 버는 실전 영상 제작

[105419 rows x 1 columns]

In [78]:
df_sample_4.drop_duplicates(['course_title'])

                                           course_title
0                             올인원 패키지 : 알고리즘 기술면접 완전 정복
1                           초격차 패키지 : 한번에 끝내는 영상 촬영과 편집
2                                  시크릿코드 : 프론트엔드 실무 완성편
4                         올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX
6       프로모션 : 2021 내 커리어 지켜 줄 UX/UI 디자인 한끝세트 (3월 프리패스)
...                                                 ...
104905             (B2B) (주)공정씨컴퍼니 온라인 구독 올 플랜 - 비대면바우처
105119                 올인원 패키지 : Unity를 활용한 영화 애니메이션 제작
105163                 (B2B) 그린오션스 온라인 구독 올 플랜 - 비대면바우처
105174                  (B2B) 디캠프 패밀리사 온라인 구독 올 플랜 (9월)
105265                 (B2B) (주)오디 온라인 구독 올 플랜 - 비대면바우처

[1642 rows x 1 columns]